<?xml version="1.0" encoding="UTF-8"?>

<plugin title="Pentaho Data Access V2" loader="OVERRIDING" name="data-access-v2">

   <lifecycle-listener class="org.pentaho.reporting.platform.plugin.LifecycleListener"/>

   <static-paths>
     <static-path url="/data-access-v2/resources" localFolder="resources"/>
   </static-paths>
   
   <overlays>
	    <overlay id="startup.dataaccessv2"  resourcebundle="api/repos/data-access-v2/resources/messages/messages.properties">
			<menubar id="filemenu">
			    <menuitem id="manageDatasourceV2Item" insertafter="openMenuItem" label="${manageDatasourceV2Ellipsis}" js-command="alert('Manage Data Sources..')" />
			</menubar>
			<menubar id="newmenu">
				<menuitem id="newDatasourceV2Item" label="${newDatasourceV2Ellipsis}" js-command="alert('Create New Data Source..')" />				
			</menubar>
	    </overlay>
	</overlays>

  <external-resources>
  </external-resources>

</plugin>
