<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <!-- roles with data access permissions -->
  <data-access-roles>Admin</data-access-roles>
  <!-- users with data access permissions -->
  <!--
  <data-access-users></data-access-users>
   -->
  <!-- roles with datasource view permissions -->
  <data-access-view-roles>Authenticated,Admin</data-access-view-roles>
  <!-- users with datasource view permissions -->
  <data-access-view-users>suzy</data-access-view-users>
  <!-- default view acls for user or role -->
  <data-access-default-view-acls>31</data-access-default-view-acls>

  <!-- settings for Agile Data Access -->
  <data-access-staging-jndi>Hibernate</data-access-staging-jndi>

  <data-access-datasource-solution-storage>admin</data-access-datasource-solution-storage>
  <data-access-csv-sample-rows>10000</data-access-csv-sample-rows>
  <data-access-datasource-illegal-characters><![CDATA[$<>?&#%^*()!~:;[]{}|]]></data-access-datasource-illegal-characters>

  <!-- Geography settings -->
  <geo>
    <roles>continent, country, state, city, postal_code</roles>
    <dimension-name>Geography</dimension-name>

    <continent>
      <aliases>continent</aliases>
    </continent>

    <country>
      <aliases>country, ctry</aliases>
    </country>

    <state>
      <aliases>state, province, st, stateprovince</aliases>
      <required-parents>country</required-parents>
    </state>

    <city>
      <aliases>city, town</aliases>
      <required-parents>country,state</required-parents>
    </city>

    <postal_code>
      <aliases>zip, postal code, zip code</aliases>
      <required-parents>country</required-parents>
    </postal_code>

    <latitude>
      <aliases>lat, latitude</aliases>
    </latitude>

    <longitude>
      <aliases>long, lon, lng, longitude</aliases>
    </longitude>
  </geo>

</settings>