.angular-dialog {
	position: relative;
	left: 50%;
	top: 50%;

	width: 530px;
	height: 330px;

	margin-left: -265px;
	margin-top: -165px;
}

.angular-dialog .spinner {
	position: absolute !important;
	top: 50%;
	left: 50%;
}

.angular-dialog .title-arrow {
	display: inline-block;
}

.angular-dialog>.glasspane {
	margin-left: 0px !important;
}

.angular-dialog-title {
	text-align: center;
	position: relative;
	left: 0px;
	right: 0px;
}

#manage-data-sources-data {
	height: 175px;
}

#manage-data-sources-data .header {
	margin-top: 10px;
	color: #fff;
	background-color: #8ab3c6;
	overflow-x: hidden;
}

#manage-data-sources-data .header>div {
	text-align: left;
	line-height: 30px;
	white-space: nowrap;
	background-color: #8ab3c6;	
}

#manage-data-sources-data .header>div p { 
	cursor: pointer;
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 0px;
}

#manage-data-sources-data .data {
	border-bottom: 1px solid #d7d7d7;
	background-color: #fff;
	clear: none;
}

#manage-data-sources-data .data.odd {
	background-color: #f0f0f0;
}

#manage-data-sources-data .data {
	line-height: 27px;
}

#manage-data-sources-data .content-cell {
	text-align: left;
	padding-left: 15px;
	overflow-x: hidden;
	white-space: nowrap;
	cursor: pointer;
}

#manage-data-sources-data #data-scroll-container {
	height: 145px;
	overflow-y: scroll;

	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
}

#manage-datasource-dialog .prev {
	position: absolute;
	bottom: 8px;
	right: 8px;
}

#manage-datasource-dialog .next {
	text-align: center;
}

#manage-datasource-dialog .resize-col {
	width: 5px;
	height: 30px;
	/*background-color: #000;*/

	clear: none;
	float: left;

	cursor: e-resize;
	position: relative;
	left: -3px; /* 10px padding and 3px to get to center of width*/
}

#manage-datasource-dialog #new-data-source-container {
	text-align: right;
}

/*
 * Transition to theme css
 */
#manage-data-sources-data .data.selected {
	background: #d7e9cd;
	-moz-transition: all 600ms;
	-webkit-transition: all 600ms;
}

#manage-data-sources-data .data:hover {
	background: #dce7ed;
	-moz-transition: all 600ms;
	-webkit-transition: all 600ms;
}

#manage-data-sources-data .type-cell {
	border-left: 1px solid #d7d7d7;
	vertical-align: middle;;
}

#manage-data-sources-data .header .type-cell {
	border-left: 1px solid #fff;
}