#datasourcesListTable .headerWrapper { 
background-color: transparent;
}

#datasourcesListTable {
background-color: white;
padding: 5px 10px 10px;
}

.gwt-PopupPanel {
    z-index: 2101;
}
