<style type="text/css">
	#manage-data-source-settings .menu {
		display: none;
		position: absolute;

		background-color: #f9fcfd;
		margin-top: 0px;
		margin-left: 0px;
		border-top: 1px solid #cbdde8;
		border-right: 1px solid #cbdde8;
		border-bottom: 1px solid #cbdde8;
		border-left: 1px solid #cbdde8;
		padding: 2px;
	}

	#manage-data-source-settings .menu .menu-item {
		white-space: nowrap;
		cursor: pointer;

		color: #698492;
		padding: 3px 20px 3px 20px;
	}

	#manage-data-source-settings .menu .menu-item:hover {
		background-color: #dce7ed;
	}

	#manage-data-source-settings .menu .menu-item-separator {
		margin-top: 2px;
		margin-bottom: 2px;
		border-top: 1px solid #cbdde8;
	}
</style>

<div id="manage-data-source-settings">
	<div class="pentaho-optionsdatasourcebutton" ng-click="toggleDialog()"></div>

	<div class="menu">
		<div class="menu-item" ng-click="edit()">{{text.edit}}</div>
		<div class="menu-item" ng-click="">{{text.delete}}</div>
		<div class="menu-item-separator"></div>
		<div class="menu-item" ng-click="">{{text.export}}</div>
		<div class="menu-item" ng-click="">{{text.importAnalysis}}</div>
		<div class="menu-item" ng-click="">{{text.importMetadata}}</div>
		<div class="menu-item-separator"></div>
		<div class="menu-item" ng-click="">{{text.newConnection}}</div>
	</div>
</div>
<message-dialog dialog-id="delete-error-msg" message-title="{{text.deleteErrorDialog.messageTitle}}" message="{{text.deleteErrorDialog.message}}" show-ok="true"></message-dialog>