<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC
    "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <!--<servlet>
    <servlet-name>conectionService</servlet-name>
    <display-name>ConectionService</display-name>
    <description>ConectionService</description>
    <servlet-class>org.pentaho.ui.database.gwt.GwtDatabaseConnectionServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DatasourceService</servlet-name>
    <display-name>DatasourceService</display-name>
    <description>DatasourceService</description>
    <servlet-class>org.pentaho.platform.dataaccess.datasource.wizard.service.gwt.DatasourceDebugGwtServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>UploadService</servlet-name>
    <display-name>UploadService</display-name>
    <description>DatasourceService</description>
    <servlet-class>org.pentaho.platform.dataaccess.datasource.wizard.service.impl.UploadFileDebugServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>conectionService</servlet-name>
    <url-pattern>/databaseConnectionService</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>conectionService</servlet-name>
    <url-pattern>databaseConnectionService</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DatasourceService</servlet-name>
    <url-pattern>databaseConnectionService</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DatasourceService</servlet-name>
    <url-pattern>/databaseConnectionService</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>UploadService</servlet-name>
    <url-pattern>UploadService</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UploadService</servlet-name>
    <url-pattern>/UploadService</url-pattern>
  </servlet-mapping>
  -->
  
  <servlet>
    <servlet-name>CsvDatasourceService</servlet-name>
    <display-name>CsvDatasourceService</display-name>
    <description>CsvDatasourceService</description>
    <servlet-class>org.pentaho.platform.dataaccess.datasource.wizard.service.gwt.CsvDatasourceServiceServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DatasourceService</servlet-name>
    <display-name>DatasourceService</display-name>
    <description>DatasourceService</description>
    <servlet-class>org.pentaho.platform.dataaccess.datasource.wizard.service.gwt.DSWDatasourceDebugGwtServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>UploadService</servlet-name>
    <display-name>UploadService</display-name>
    <description>DatasourceService</description>
    <servlet-class>org.pentaho.platform.dataaccess.datasource.wizard.service.impl.UploadFileDebugServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>remoteLoggingServiceImpl</servlet-name>
    <servlet-class>com.google.gwt.libideas.logging.server.RemoteLoggingServiceImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>conectionService</servlet-name>
    <servlet-class>org.pentaho.platform.dataaccess.datasource.wizard.service.gwt.ConnectionDebugGwtServlet
    </servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>joinSelectionService</servlet-name>
    <servlet-class>org.pentaho.platform.dataaccess.datasource.wizard.service.gwt.JoinSelectionDebugGwtServlet
    </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>gwtConnectionService</servlet-name>
    <servlet-class>org.pentaho.ui.database.gwt.GwtDatabaseConnectionServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ModelerServiceDebugServlet</servlet-name>
    <servlet-class>org.pentaho.platform.dataaccess.datasource.wizard.service.gwt.ModelerServiceDebugServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>ModelerServiceDebugServlet</servlet-name>
    <url-pattern>/DatasourceEditor/modelerService</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>conectionService</servlet-name>
    <url-pattern>/DatasourceEditor/ConnectionService</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>joinSelectionService</servlet-name>
    <url-pattern>/DatasourceEditor/JoinSelectionService</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UploadService</servlet-name>
    <url-pattern>/DatasourceEditor/UploadService</url-pattern>
    <!--url-pattern>/DatasourceEditor/UploadService</url-pattern-->
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>remoteLoggingServiceImpl</servlet-name>
    <url-pattern>/PhysicalDatasource/logging</url-pattern>
    <!--url-pattern>/DatasourceEditor/logging</url-pattern-->
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>gwtConnectionService</servlet-name>
    <url-pattern>/DatasourceEditor/databaseConnectionService</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DatasourceService</servlet-name>
    <url-pattern>/DatasourceEditor/DatasourceService</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CsvDatasourceService</servlet-name>
    <url-pattern>/PhysicalDatasource/CsvDatasourceService</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CsvDatasourceService</servlet-name>
    <url-pattern>/DatasourceEditor/CsvDatasourceService</url-pattern>
  </servlet-mapping>


</web-app>
